body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ghange 2s ease-in-out;
  text-transform: capitalize;
}
@keyframes ghange {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}